<div class="pagination">
    {#  Previous Page  #}
    {% if page.has_previous %}
        <a href="?page={{ page.previous_page_number }}" class="pagination-button {% if not page.has_previous %}disabled{% endif %}">صفحه قبل</a>
    {% endif %}

    {#  Page Numbers  #}
        {% if page.number > 3 %}
            <a href="?page=1" class="pagination-button">1</a>
            {% if page.number > 4 %}
                <span class="pagination-ellipsis">...</span>
            {% endif %}
        {% endif %}

        {% for i in page.paginator.page_range %}
            {% if i == page.number %}
                <a href="?page={{ i }}" class="pagination-button {% if page.number == i %}active{% endif %}">{{ i }}</a>
            {% elif i >= page.number|add:'-2' and i <= page.number|add:'2' %}
                <a href="?page={{ i }}" class="pagination-button {% if page.number == i %}active{% endif %}">{{ i }}</a>
            {% endif %}
        {% endfor %}

        {% if page.number < page.paginator.num_pages|add:'-2' %}
            {% if page.number < page.paginator.num_pages|add:'-1' %}
                <span class="pagination-ellipsis">...</span>
            {% endif %}
            <a href="?page={{ page.paginator.num_pages }}" class="pagination-button">{{ page.paginator.num_pages }}</a>
        {% endif %}

        {#  Next Page  #}
        {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}" class="pagination-button">صفحه بعد</a>
        {% endif %}
</div>