{% extends 'parent/base.html' %}
{% load blog_tags %}
{% block title %}Home{% endblock %}
{% block content %}

    <h4>آمار سایت</h4>
    <p>تعداد پست: {% total_posts %}</p>
    <p>تعداد کامنت ها:{% total_comments %}</p>
    <p>تاریخ آخرین پست:{% last_post %}</p>
    <hr>
    {#  show 5 latest posts  #}
    {% latest_posts 5 %}

    {#  show most popular posts  #}
    {% most_popular_posts as pop_posts %}
        <div>
            <h4>محبوب ترین ها</h4>
            {% for post in pop_posts %}
                <br>
                <a href="{{ post.get_absolute_url }}">{{ post.title }} :{{ post.comments_count }} تعداد کامنت</a>
            {% endfor %}
        </div>

    {#  show max and min read time post  #}
    {% get_extreme_reading_time_posts as t_posts %}
        <div>
            <h4>کدام پست بیشترین و کدام پست کمترین زمان مطالعه را لازم دارد</h4>
            {% if t_posts.max_post %}
                <p>بیشترین زمان مطالعه:
                    <br>
                    <a href="{{ t_posts.max_post.get_absolute_url }}">{{ t_posts.max_post.title }}</a>
                    <span>{{ t_posts.max_post.reading_time }} دقیقه</span>
                </p>
            {% endif %}
            {% if t_posts.min_post %}
                <p>کمترین زمان مطالعه:
                    <br>
                    <a href="{{ t_posts.min_post.get_absolute_url }}">{{ t_posts.min_post.title }}</a>
                    <span>{{ t_posts.min_post.reading_time }} دقیقه</span>
                </p>
            {% endif %}
        </div>

{% endblock %}
