{% extends 'parent/base.html' %}
{% load jformat %}
{% load blog_tags %}
{% block title %}Home{% endblock %}
{% block content %}

    <h4>آمار سایت</h4>
    <p>تعداد پست: {% total_posts %}</p>
    <p>تعداد کامنت ها:{% total_comments %}</p>
    <p>تاریخ آخرین پست:{% last_post %}</p>
    <hr>
    {% latest_posts 5 %}

    {% most_popular_posts as pop_posts %}
        <div>
            <h4>محبوب ترین ها</h4>
            {% for post in pop_posts %}
                <br>
                <a href="{{ post.get_absolute_url }}">{{ post.title }} :{{ post.comments_count }} تعداد کامنت</a>
            {% endfor %}
        </div>

{% endblock %}
