{% extends 'parent/base.html' %}
{% block title %}Blog{% endblock %}

{% block content %}
  <div class="blog-container">
    <h1 class="blog-title">List of Posts</h1>

    {% for post in posts %}
      <div class="blog-post">
        <a href="{{ post.get_absolute_url }}" class="post-link">{{ post.title }}</a>
        <p class="post-description">{{ post.description|truncatewords:4 }}</p>
      </div>
    {% endfor %}

      {# Pagination #}
      {% include 'partials/pagination.html' with page=page_obj %}
      {# End Pagination #}
  </div>
{% endblock %}