{% extends 'parent/base.html' %}
{% load jformat %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
    {% if post.author == user %}
        <h1>{{ post.title }}</h1>
        <h4>write by ({{ post.author }})</h4>
        <p>{{ post.description|linebreaks }}</p>
        <hr>
        <p>{{ post.publish|jformat:"%Y/%m/%d-%H:%M" }}</p>
    {% else %}
        <p>شما مجاز به دیدن این صفحه نیستد!</p>
        <a href="{% url 'blog:index' %}">بازگشت</a>
    {% endif %}

{% endblock %}