{% extends 'parent/base.html' %}
{% block title %}Profile{% endblock %}

{% block content %}

    <a href="{% url 'blog:post_create' %}">ایجاد پست</a>
    <br>
    <a href="{% url 'blog:password_change' %}">تغییر رمز عبور</a>
    <br>
    {#  show messages successfully  #}
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}

    <table class="styled-table">
        <tr class="table-header">
            <th>ردیف</th>
            <th>مشاهده</th>
            <th>ویرایش</th>
            <th>حذف</th>
        </tr>

        {% for post in posts %}
            <tr class="table-row">
                <td>{{ forloop.counter }}</td>
                <td><a href="{{ post.get_absolute_url }}" class="view-link">{{ post.title }}</a></td>
                <td><a href="{% url 'blog:post_edit' post.id %}" class="edit-link">ویرایش</a></td>
                <td><a href="{% url 'blog:post_delete' post.id %}" class="delete-link">حذف</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}